@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-white text-slate-900;
  }
  html.dark {
    @apply bg-slate-900 text-slate-50;
  }

  /* Smooth transitions for theme changes */
  html, html * {
    @apply transition-colors duration-200;
  }
}